<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CARDIOLOGY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <CARDIOLOGY.Properties.Settings>
            <setting name="ConnectServer" serializeAs="String">
                <value>Data Source=DESKTOP-577SFKA\HOME_SERVER;Initial Catalog=Cariology;User ID=sa;Password=8080;</value>
            </setting>
        </CARDIOLOGY.Properties.Settings>
    </applicationSettings>
</configuration>